[2017-02-24 09:41] ibuziuk opened #14 "Live previews are no longer updated on each commit to master"
Master CI job [1]  is now fixed  and image is published to the registry, however changes are not reflected on

 - http://che-starter.os.ci.centos.org/
 - http://che-starter.demo.almighty.io/

[1] https://ci.centos.org/job/devtools-che-starter-build-master/

[2017-02-24 09:50] ibuziuk commented on #14
@kbsingh could you please help to tackle this one ?

[2017-02-24 22:24] kbsingh commented on #14
wth the move to the dev registry, I am trying to consolidate all the content to prod-preview cluster, would that do ? if so, lets work that through.

[2017-02-24 22:30] kbsingh commented on #14
I just tried a deploy in the new place, and i get :
[code]

[2017-02-25 20:50] ibuziuk commented on #14
@kbsingh moving to the new cluster works just fine. In terms of error, I assume that you override application.properties[1] during deployment, so both **server.port** and **server.address** must be used for this.

[1] https://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html

[2017-02-26 09:53] kbsingh commented on #14
We just render and execute the dockerfile, as far as i can tell.

[2017-02-26 19:25] ibuziuk commented on #14
@kbsingh I was able to deploy che-starter app using template from **openshift-template** folder on minishift. The only problem I had was coupled with centos:7 base image - **[Errno 14] HTTP Error 404 - Not Found**:

However, when I changed base image to centos:6 and push the image[1] to dockerhub there were no problems with deployment. Please, let me know how can I help to tackle this issue. Basic

[2017-02-28 17:15] kbsingh commented on #14
should be fixed now

[2017-02-28 17:43] #14 closed

[2017-03-01 15:16] l0rd opened #22 "Readme.md testing with minishift section improvements"
@IlyaBuziuk some comments about the doc:
- Is minishfit v1.0 required? If that is true we should also change the default login/password
- To create the PV we could just reuse the code instructions in rh-che instead of installing gofabric8
- Instructions contains 4 logins and that can be confusing. Maybe addressing my second point would help removing the need for the last login
- If we use che.$(mi

[2017-03-01 15:23] ibuziuk commented on #22
@l0rd first 3 point are relevant. What is bothering me is the last bullet - I suspect that it is not going to work until https://issues.jboss.org/browse/CHE-145 is resolved, right ? template v1.0.53 still contains "hostname-http" : "che.openshift.mini" in the configMap

[2017-03-01 17:19] l0rd commented on #22
@ibuziuk for point 4 we should `oc edit configmap che` and edit hostname-http.

For gofabric8 my concern is that after `oc apply` che starts and fails because it cannot find the PVs. And `gofabric8 volumes` is not enough: you need to stop the previous Che deployment and create a new one. Ideally we should:
1. Apply the template without starting Che
2. Run `gofabric8 volumes`
3. Start Che
And maybe

[2017-03-01 17:39] ibuziuk commented on #22
@l0rd I need to play with the instructions (ideally I would like to provide a script that will do it in a single step) But what about CHE-145 ? if we apply smth. like that [1]
CHE_DOCKER_IP_EXTERNAL will be detected automatically and there will be no need for updating configmap, right ?

[1] https://github.com/ibuziuk/che/commit/1dd23f9d6069a38b15a86217ea1a12543ec5bef0

[2017-03-01 17:54] l0rd commented on #22
When CHE-145 will be implemented we won't need modify the config map. But until then we will always need to do that (assuming that https://github.com/fabric8io/fabric8-online/pull/38 will be merged).

[2017-03-02 10:58] ibuziuk commented on #22
@l0rd I'm planning to contribute to Che docs the following set of instructions for Minishift deployment - https://github.com/redhat-developer/che-starter/pull/27

Basically, it would be just 3 steps:
1. Install minishift + oc
2. install gofabric8
3. run script

This scenario works just fine - no need to stop the previous Che deployment and create a new one. WDYT?

[2017-03-02 16:54] l0rd commented on #22
LGTM

[2017-03-03 12:22] ibuziuk commented on #22
@l0rd @sbryzak actually I jump the gun - the 3 steps scenario does not work fine with the latest 1.0.53 fabric8 template - in order to make it work  an extra step is required: one must either update /etc/hosts and map **minishift ip** to **che.openshift.mini**, or run `oc edit configmap che`, update hostname-http with route and restart che pod (configmap changes does not update deployment automati

[2017-03-03 13:56] l0rd commented on #22
I must confess that I never liked the idea to use a template where configmaps and instructions to deploy Che were together. I would prefer to keep separate config from the application itself.

We may think to use https://github.com/fabric8io/fabric8-online/tree/master/apps/che/src/main/fabric8 instead and:

1. get the configmaps template, edit it and apply it
2. apply the deployment tamplate
3. cr

[2017-03-03 16:48] ibuziuk opened #29 "Workspace and Project templates are read on every request"
JSON from templates [1] [2] is obtained on every single request. It should be read only once though

[1] https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/template/ProjectTemplate.java#L69
[2] https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/template/WorkspaceTemplate.java#L75

[2017-03-03 16:50] ibuziuk commented on #29
@sbryzak will you be able to take a look at this ? I guess it should be smth. similar to CheServerTemplate -
https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/template/CheServerTemplate.java#L36

[2017-03-03 16:51] ibuziuk opened #30 "Kubernetes / OpenShift client should be closed after request execution"
@mlabuda feel free to add more details

[2017-03-07 07:01] mlabuda commented on #30
From javadoc of okhttp3, which is wrapped in OpenShift client from kubernetes OpenShift client in fabric8
"The threads and connections that are held will be released automatically if they remain idle. But if you are writing a application that needs to aggressively release unused resources you may do so."

the OpenShift client in fabric8 do this stuff in close method. I think it is more safe to clo

[2017-03-09 09:47] ibuziuk opened #31 "Keycloak endpoints should not be hard-coded"
from @alexeykazakov comment to https://issues.jboss.org/browse/CHE-142

[2017-03-13 09:42] mlabuda opened #34 "Provide a way for "fail safe""
E.g. when we receive a call in Che starter and we create a resource/resources on OpenShift, we should be able to perform clean up if something go really wrong and the desired state is not achieved. E.g. workspace start-up fail, we should be able to perform clean up on such "broken" resources. Basically calls should/could behave like transactions = either call is performed whole and successful, or

[2017-03-13 13:33] ibuziuk opened #35 "Need to add 'Namespace' parameter to all endpoints"
For now OpenShift project is hard-coded in application.properties - https://github.com/redhat-developer/che-starter/blob/master/src/main/resources/application.properties#L16
The name should be obtained from **namespace** parameter passed from Platform.

[2017-03-13 15:23] ibuziuk commented on #35
fixed in https://github.com/redhat-developer/che-starter/pull/36

[2017-03-14 11:39] ibuziuk commented on #22
I think this issue can be closed assuming that up-to-date instructions for fabric8 template deployment are located in rh-che repo and would probably be moved to upstream soon - https://github.com/redhat-developer/rh-che#how-to-run-che-on-openshift

[2017-03-14 13:46] l0rd commented on #22
👍

[2017-03-14 13:46] #22 closed

[2017-03-14 16:03] ibuziuk opened #37 "Need to compare jetty vs undertow performance"
Switch from tomcat to jetty boost che-starter performance dramatically. Need to compare jetty vs. underflow [1] performance.
[1] http://undertow.io/

[2017-03-14 20:49] ibuziuk opened #40 "che-starter CI jobs are down"
https://ci.centos.org/job/devtools-che-starter/
https://ci.centos.org/job/devtools-che-starter-build-master/

[2017-03-14 21:39] #35 closed

[2017-03-15 10:16] ibuziuk commented on #37
From @mlabuda comment to https://issues.jboss.org/browse/CHE-122:

[2017-03-15 10:16] #37 closed

[2017-03-15 16:31] mlabuda opened #43 "Make che-starter more robust in terms of resource look up"
Resource look up (route, DC...) could be based on the information that the deployment is done for a che server image.

[2017-03-15 18:14] #30 closed

[2017-03-15 18:15] ibuziuk commented on #40
fixed

[2017-03-15 18:15] #40 closed

[2017-03-16 14:51] mlabuda opened #48 "Che starter creates a wrong workspace"
I uses swagger output for CURL to create a workspace:
`curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' --header 'Authorization: EmHPEus9-BTL6DMfvy9mdmlhG2WahNW1ezKFe8Eo6pA' -d '{ "branch": "master", "description": "https://github.com/mlabuda/vertx-with-che#master", "id": "aaasdsad",  "name": "dasdasdaasdas",  "repo": "https://github.com/mlabuda/vertx-with

[2017-03-16 18:44] ibuziuk opened #50 "che-starter fails to talk with OSO due to certificate issue"
Che-Starter deployed on prod-preview[1] fails to talk to our OSO[2], with what seems to be similar issues as what KeyCloak had with certificates. Locally (as a jar and in docker) the certificate issue is not reproducible and che-starter can talk with OSO[2]  without any issues.

Running `keytool -list -keystore $JAVA_HOME/lib/security/cacerts -storepass almighty | grep tsrv` in both local and oso

[2017-03-17 13:08] ibuziuk opened #51 "che-starter needs to pass the keycloak authentication token that it receives from platform to che server with every request"
Expected header:
`Authorization: Bearer <KEYCLOAK_TOKEN>`

[2017-03-17 21:43] ibuziuk commented on #50
Fixed with https://github.com/redhat-developer/che-starter/pull/52

[2017-03-17 21:43] #50 closed

[2017-03-17 21:44] ibuziuk commented on #48
Fixed in https://github.com/redhat-developer/che-starter/pull/49

[2017-03-17 21:44] #48 closed

[2017-03-20 15:09] ibuziuk opened #56 "Do we need to update memmory limits for workspace creation ?"
See https://github.com/redhat-developer/che-starter/blob/master/src/main/resources/templates/workspace_template.json#L12

cc. @amisevsk @l0rd

This might be fixed on fabric8 template side

[2017-03-20 17:10] ibuziuk opened #57 "Need to reduce che-starter image size"
From email thread "che-starter size"

JDK is now required because of the certificate installation ( `javac` [1] is involved)

[1] https://github.com/redhat-developer/che-starter/blob/master/Dockerfile#L21

[2017-03-20 19:19] ibuziuk commented on #31
fixed with - https://github.com/redhat-developer/che-starter/pull/55

[2017-03-20 19:19] #31 closed

[2017-03-21 16:22] ibuziuk commented on #51
Done for Stack controller - https://github.com/redhat-developer/che-starter/pull/58

[2017-03-23 13:04] ibuziuk opened #66 "Commands are not available after workspace creation"
Need to add Stacks commands to workspace creation

[1] https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L127

[2017-03-23 16:38] ibuziuk opened #67 "Create project API does not take into account workspaceId"
I have found out that create project API does not take into account workspaceId. Is it expected behavior ?
Endpoint for project creation [1] does not include placeholder for workspace ID, even though on project creation step there is a line[2] which tries to set it somehow:

[code]

[1] https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/client/CheRestE

[2017-03-23 16:39] ibuziuk commented on #67
@sbryzak could you please shed some light on this ?

[2017-03-23 17:09] ibuziuk commented on #67
@sbryzak ok I think I got it - this is just a typo. Workspace id is not required since workspace agent Url is used for project creation API - https://github.com/redhat-developer/che-starter/pull/68

[2017-03-23 17:09] #67 closed

[2017-03-24 08:44] sbryzak opened #69 "Model the workspace creation request using DTOs instead of a template"
This will allow for more flexibility and future-proofing.

[2017-03-24 11:39] ibuziuk commented on #69
@sbryzak could you clarify why do we need two types of DTO - Workspace & WorspaceTemplate ? Also some of the classes are empty like WorkspaceServer / WorkspaceProject - is it WIP ?

[2017-03-24 12:50] ibuziuk commented on #69
it was decided to put this new DTO approach for later (after summit) and now stick to old json template approach

[2017-03-24 15:05] ibuziuk opened #70 "Need to create a mapping between Stack ID and project Type"
For now all projects are created with 'maven' projectType [1]. Need to create a mapping between Stack Id and project Type e.g. **"node-default"** -> **"node-js"**

All project types are defined in https://github.com/eclipse/che/blob/master/ide/che-core-ide-templates/src/main/resources/samples.json

[1] https://github.com/redhat-developer/che-starter/blob/master/src/main/resources/templates/project

[2017-03-24 15:58] ibuziuk commented on #29
https://github.com/redhat-developer/che-starter/pull/71

[2017-03-24 15:58] #29 closed

[2017-03-27 06:14] mlabuda commented on #66
Well, for now we are using a simple json template to create a workspace. To do it more robust, we could use output from get /stack API call - create a look up on returned collection based on an ID of a stack and use the json of stack, from the returned API response JSON array, as a template for WS creation.

[2017-03-27 09:56] ibuziuk commented on #66
@mlabuda would you like to work on this issue ?

[2017-03-27 09:58] ibuziuk commented on #66
I was thinking about creating API `getCommands(String stackID)` and injecting it directly to template

[2017-03-27 10:05] ibuziuk opened #74 "Need to set user name & email in workspace git preferences"
PUT request to `wsmaster/api/preferences` should do the trick
![screenshot from 2017-03-24 17-39-58](https://cloud.githubusercontent.com/assets/1461122/24351238/388be49e-12e5-11e7-8342-2cec995a2744.png)

API for obtaining user info based on github token is already in place - https://github.com/redhat-developer/che-starter/pull/73

cc: @sunix

[2017-03-27 10:06] mlabuda commented on #66
Yeah, injecting command would be another thing, but it would increase complexity of starter (another necessary call to create a new workspace - then it reduces maximum "bandwidth" = amount of calls for che-starter. I will work on this one

[2017-03-27 10:11] ibuziuk commented on #66
@mlabuda yeah, I agree. It was decided to stick to template approach for summit, but if we can improve it now and provide enough tests to cover this API - why not. However, it seems that commands & projectType (https://github.com/redhat-developer/che-starter/issues/70 ) are the only missing pieces

[2017-03-27 10:20] mlabuda commented on #70
For this issue I would suggest more robust solution. We should have an agreement how the stacks we provide in our Che distribution are tailored - either a mandatory Tags, Components... We should have a contract for this.

Then we have to somehow decide, what kind of project is the one passed through che-starter. We should discuss this further on mtg.

[2017-03-27 10:27] ibuziuk commented on #70
@mlabuda project type should be explicitly set on project creation step - the only way to figure it out is having mapping between stackId & project type.

Note: project type is not a part of the stack definition.

[1] https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/client/StackClient.java#L71
[2]  https://github.com/redhat-developer/che-starter/blob

[2017-03-27 10:43] mlabuda commented on #70
Yeah, I am aware of that. If we would assume that to create a project we always obtain a git remote, we could somehow decide it based on repo, but it would be overkill.

With components, tag I had in mind, that a single project can be imported into various workspaces (java maven project could be in default-java, vert-x...). And a single workspace can have various projects (blank, maven, java). So

[2017-03-27 10:56] ibuziuk commented on #70
@mlabuda well, this kind of solution is not ideal, but IMO the most suitable for summit purposes where there will be only a few stacks supported. Note, this issue was created because of the red X on the projects with invalid project type  - https://issues.jboss.org/browse/CHE-133
So, technically *"blank"* type can be set and this will work just fine for our scenario.
IMO, we should not over engine

[2017-03-27 11:00] mlabuda commented on #70
Ok, I agree, there are more important issues to address :) So basically we should go with "blank" for any project - it is safer than assuming a project type is maven and it would not have pom.xml at all in project repo.

[2017-03-27 11:06] ibuziuk commented on #70
@mlabuda hmmm.. not sure because for demo I think maven project is going to be used. So, I would opt for approach with mapping that we are controlling and assumption that all vertx project imported are going to be maven based

[2017-03-27 11:11] mlabuda commented on #70
For the demo it works, but once users will start using it, it could broke there.

[2017-03-27 19:39] ibuziuk commented on #70
During the meeting it was decided to stick with the mapping (stack ID -> projectType) approach for now

[2017-03-28 11:19] ibuziuk commented on #69
@mlabuda I guess this is done now and workspace template file can be safely removed, right ?

[2017-03-28 11:21] ibuziuk opened #78 "Get rid of json template files for token, project, server, workspace creation"
json files are used as a request body - need to replace it with proper DTO

[2017-03-28 11:21] mlabuda commented on #69
Yeah, we can safely remove workspace template file from resources. I forgot on that one when was cleaning template classes.

[2017-03-28 11:28] ibuziuk commented on #69
@mlabuda could you please remove and we can close this issue ?

[2017-03-28 12:15] ibuziuk commented on #69
@mlabuda yeah, I agree - https://github.com/redhat-developer/che-starter/issues/78
Just need to be sure that nothing will be broken ;-)

[2017-03-28 12:19] mlabuda opened #79 "Create tests for most of API endpoints."

[2017-03-28 13:36] #69 closed

[2017-03-28 13:36] mlabuda opened #81 "We should provide workspace IDE URL on workspace creation"

[2017-03-28 13:51] ibuziuk commented on #81
cc: @aslakknutsen

We have removed workspace template and now Platform will not be able to call `getIDEWorkspaceUrl` to get the link. Will it be ok if che-starter return only URL to the workspace instead of the whole Workspace Object?

[2017-03-28 13:53] #70 closed

[2017-03-28 14:02] #66 closed

[2017-03-28 14:02] aslakknutsen commented on #81
[code]

is fine by me..

[2017-03-28 17:36] ibuziuk commented on #81
@aslakknutsen I found DTO for workspace links that would be really handy to use:
[code]

[2017-03-29 10:19] ibuziuk opened #83 "Nee to increase timeout for workspace creation"
The problem is coupled with timeout that is now = 1 min. This value needs to be increased

[2017-03-29 10:25] ibuziuk commented on #81
Fixed - https://github.com/redhat-developer/che-starter/pull/82

[2017-03-29 10:25] #81 closed

[2017-03-29 11:02] #83 closed

[2017-03-29 11:58] ibuziuk commented on #79
@mlabuda Do we have a plan for test coverage ? Would be great to figure out what needs to be done in terms of tests by the sprint planning

[2017-03-29 12:16] mlabuda commented on #79
I think we should cover all API endpoints - GET stacks, POST and GET workspace. Server is not yet implemented so this can be done later.

[2017-03-29 12:20] ibuziuk commented on #79
@mlabuda are we going to run tests for endpoints against https://github.com/redhat-developer/che-vertx-server ? If yes, are there plans to deploy it on some cluster

[2017-03-29 12:32] ibuziuk opened #85 "POST /server endpoint is not working"
API for creation che-server is not working now and it is not required for summit. However, It would be great to implement it

[2017-03-29 12:33] ibuziuk commented on #79
BTW, I have created issue for server API - https://github.com/redhat-developer/che-starter/issues/85
Would be great if we could also implement this (but not a priority IMO)

[2017-03-31 12:42] ibuziuk opened #92 "Need to add custom exception for Keycloak Token processing"

[2017-03-31 12:43] ibuziuk commented on #92
cc @mlabuda

[2017-04-03 10:15] ibuziuk commented on #92
HTTP Error 401 - Unauthorized will be return on KeycloakException occurrence

[2017-04-03 10:15] #92 closed

[2017-04-04 07:55] mlabuda opened #95 "Reevaluate and refactor WorkspaceCreateParams"

[2017-04-04 08:01] ibuziuk commented on #95
@mlabuda is it for summit ?

[2017-04-04 08:02] mlabuda commented on #95
well, we could have more accurate API. At the moment, there is an ID in the workspace create param, which is basically ID of a project, not a workspace and thus it is ambigous. It could be projectId. Then we have a description, which is useless because we dont use it from request, but we construct it, so we can remove this from workspace param.

[2017-04-04 12:02] ibuziuk opened #97 "OpenShift endpoint details must be stored as a secret or configmap"
from https://github.com/redhat-developer/che-starter/pull/96 discussion:

[2017-04-04 14:55] ibuziuk opened #100 "Route protocol is now hard-coded to http:// (need to add https:// support)"
https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/openshift/CheServerRoute.java#L43

[2017-04-04 14:56] ibuziuk opened #101 "Need to add endpoint for "go to the line" functionality"

[2017-04-04 15:57] #95 closed

[2017-04-04 16:23] mlabuda commented on #100
We can do it more robust based on router content. In spec of an OpenShift router there is
`"port": {
            "targetPort": "http"
        },`
I have a hunch that in case of https, there is target port https.

[2017-04-04 17:05] ibuziuk commented on #101
@sunix is going to work on this one

[2017-04-04 17:12] ibuziuk opened #103 "Internal update of Che"
`Che needs to do any 'internal' update itself, e.g. be able to run Che n+1 on the same PVC as Che n.`

[2017-04-05 08:38] mlabuda commented on #51
This has been done also for /workspace endpoints. Can we close this one?

[2017-04-05 10:09] ibuziuk commented on #103
@aslakknutsen is it supposed to be done by che-starter ?

[2017-04-05 10:12] ibuziuk commented on #97
Fixed with - https://github.com/redhat-developer/che-starter/pull/98

[2017-04-05 10:12] #97 closed

[2017-04-05 11:32] mlabuda commented on #79
This has been done. We can close this one.

[2017-04-05 11:32] #79 closed

[2017-04-05 11:33] mlabuda commented on #103
I think this should be configured on OpenShift side, where the Che server is deployed. Che server deployment should have a proper triggers to trigger latest deployment on image change.

[2017-04-05 12:34] mlabuda opened #104 "Add description to Create WS params, it should be just passed"
We should not generate description on our own, we dont care what is there

[2017-04-05 13:04] aslakknutsen commented on #101
Since we have 'reuse of workspaces' I wonder if it makes sense to add this to the 'ide url' as parameters; sha/path/line/

[2017-04-05 13:24] ibuziuk commented on #104
@mlabuda @aslakknutsen but if it is not provided - shouldn't che-starter generate it (repo+branch)

[2017-04-05 14:23] #104 closed

[2017-04-05 14:42] ibuziuk commented on #100
PR - https://github.com/redhat-developer/che-starter/pull/106

[2017-04-06 08:24] mlabuda commented on #100
PR #106 merged, closing this one as resolved.

[2017-04-06 08:39] ibuziuk commented on #100
@mlabuda nope, I got NPE while testing

`java.lang.NullPointerException\n\tat io.fabric8.che.starter.openshift.CheServerRoute.getUrl(CheServerRoute.java:42)\n\tat io.fabric8.che.starter.openshift.OpenShiftClientWrapper.getCheServerUrl(OpenShiftClientWrapper.java:83)\n\tat io.fabric8.che.starter.controller.StackController.getStacks(StackController.java:71)\n\tat io.fabric8.che.starter.controller.St

[2017-04-06 08:47] ibuziuk commented on #100
New PR is sent - https://github.com/redhat-developer/che-starter/pull/111

[2017-04-06 09:21] ibuziuk commented on #100
Closing

[2017-04-06 09:21] #100 closed

[2017-04-06 11:34] mlabuda opened #113 "Type of created project is wrong"

[2017-04-06 11:46] ibuziuk opened #114 "Need to change filtering based on description "repo#branch""
Description will be used as metadata for Platform

[2017-04-06 11:50] ibuziuk opened #115 "Need to pass config.name in POST worskspace endpoint"

[2017-04-06 11:54] ibuziuk commented on #115
config name must be optional parameter

[2017-04-06 11:56] ibuziuk commented on #115
if workspace with this name does not exist need to throw custom exception with 404 status

[2017-04-06 12:03] ibuziuk opened #116 "Need to create Delete workspace endpoint"

[2017-04-06 12:04] ibuziuk opened #117 "Need to track disk space on workspace creation"
If there there is not enough disk space - throw custom exception with "out of disk space" message

[2017-04-06 12:10] ibuziuk commented on #78
@mlabuda I guess we can close this one now ?

[2017-04-06 12:13] mlabuda commented on #78
yeah

[2017-04-06 12:15] #78 closed

[2017-04-06 12:17] ibuziuk commented on #103
@aslakknutsen @mlabuda @l0rd So, I guess this is not supposed to be done by che-starter.

[2017-04-06 12:30] mlabuda commented on #114
I am working on this one at the moment.

[2017-04-06 14:24] mlabuda commented on #114
Fixed, closing.

[2017-04-06 14:24] #114 closed

[2017-04-06 14:25] mlabuda commented on #115
Fixed, closing.

[2017-04-06 14:53] aslakknutsen commented on #103
@ibuziuk The update of che will currently happen via the Tenant Service from dsaas. But CheHost/Workspace would need to be able to start up on an existing pvc created by an older v of Che. But yes, this is at this point not related to Che Starter

[2017-04-06 14:54] ibuziuk commented on #103
@aslakknutsen thanks for clarifications - closing

[2017-04-06 14:54] #103 closed

[2017-04-06 17:35] ibuziuk opened #123 "401 (Unauthorized) error should contain options with a body stating where is the error"
che-starter knows which 'broker' you got the token from and if it worked or not. so report that 401

` {broker: 'x', msg: 'invalid token' }
`

[2017-04-06 18:13] ibuziuk commented on #113
@mlabuda still have this issue

[2017-04-06 18:20] ibuziuk commented on #113
@mlabuda well it should be actually `projectType` not `type`. Details here - https://issues.jboss.org/browse/CHE-133

[2017-04-06 18:42] ibuziuk commented on #113
Should be fixed with - https://github.com/redhat-developer/che-starter/pull/124

[2017-04-06 18:42] ibuziuk commented on #74
Fixed. Closing

[2017-04-07 00:09] gorkem opened #125 "setting committer details may fail due to GH settings"
We have observed the below stacktrace when a github user's email was set `not to be displayed`

[code]

[2017-04-07 04:16] mlabuda commented on #113
Reopening. This is not fixed. Project does not have any key with name "projectType" as someone is thinking in the JIRA. By passing projectType key with a value you just pass a non-existing attribute of project and the real "type" value is set to blank.

That means, that we have blank type all the time - this issue is about that. And that is a serious problem. Red cross on a project means a problem

[2017-04-07 08:20] ibuziuk commented on #113
@mlabuda it is not "someone" thinking in jira - https://github.com/eclipse/che/blob/master/ide/che-core-ide-templates/src/main/resources/samples.json#L7

I have tested and for "java-default" stack, projectType is maven. Previously, there was a red cross on the project because no projectType was set

[2017-04-07 08:27] ibuziuk commented on #125
@gorkem hmm... wondering if there is a way to figure out in advance what is allowed to obtain ?

[2017-04-07 08:27] mlabuda commented on #113
I am not sure why they have it that way there and precisely - what API endpoint they use to instantiate it.

Well, try it on yourself, that with this changes, if you are trying to create a project on java-default stack from e.g. https://github.com/mlabuda/vertx-with-che this application, you will get a project, which type is blank (you can easily try it through getting Che server API).

[2017-04-07 08:33] ibuziuk commented on #113
@mlabuda ok, need to play with it and figure out what is wrong. Setting 'projectType' was suggested by the codenvy PM when I asked about red X issue on the slack

[2017-04-07 09:55] ibuziuk commented on #125
PR is sent - https://github.com/redhat-developer/che-starter/pull/127

[2017-04-07 14:44] ibuziuk commented on #125
should be fixed now

[2017-04-07 14:44] #125 closed

[2017-04-07 16:31] ibuziuk opened #128 "Can not create a new workspace when 1 is already running"
Failure  is on resource limits and both workspaces seems to be killed:

`Error creating: pods "che-ws-dm89d8k9yx96epes-1200552331-" is forbidden: exceeded quota: compute-resources, requested: limits.cpu=2539m,limits.memory=1300Mi, used: limits.cpu=3906m,limits.memory=2000Mi, limited: limits.cpu=4,limits.memory=2Gi`

Most things are aync in openshift so things are just 'marked' for shutdown etc..
P

[2017-04-07 16:53] ibuziuk opened #130 "Need to remove @Ignore from 'createWorkspaceTest'"
`@Ignore("Ignoring because of https://github.com/redhat-developer/che-starter/pull/122")`
Had to add this after adding support for setting GitHub user info automatically.
@mlabuda I guess vertx test server should be fixed on 'che-vertx-server' side
see https://github.com/redhat-developer/che-starter/pull/122

[2017-04-09 12:54] ibuziuk commented on #101
@aslakknutsen the logic for POST workspace/ becomes complicated IMO with all this optinal / non-optional parameters. Don't you think it would be better to have 3 endpoints with clear logic
- create and start workspace
- start existing workspace
- go to the line in existing workspace

[2017-04-10 08:25] ibuziuk opened #131 "Add rule to checkstyle plugin for using spaces only in code formatting"

[2017-04-10 08:34] ibuziuk commented on #131
After adding this rule the build fill fail, if a file contains tab character:
[code]

[2017-04-10 08:36] mlabuda commented on #131
mlabuda approves this! ;)

[2017-04-10 08:40] ibuziuk commented on #131
@mlabuda awesome! PR is sent - https://github.com/redhat-developer/che-starter/pull/132

[2017-04-10 09:25] ibuziuk commented on #131
PR is merged. Closing

[2017-04-10 09:25] #131 closed

[2017-04-10 11:57] ibuziuk opened #133 "Need to return link for starting workspace in GET workspace response"
`"PATCH /workspace/{id} = edit existing, operate"`

[2017-04-10 12:00] ibuziuk opened #134 "Need to split POST workspace endpoint into two separate: for creating new and starting existing"
[code]

[2017-04-10 12:04] mlabuda commented on #113
This is already done.

[2017-04-10 12:04] #113 closed

[2017-04-10 12:12] ibuziuk commented on #85
Important to track as part of this issue - https://github.com/fabric8io/fabric8-init-tenant/issues/17

[2017-04-10 12:15] ibuziuk commented on #101
@sunix it was decided to split create / start workspace API the following way
[code]
More info in the issue - https://github.com/redhat-developer/che-starter/issues/134

[2017-04-10 13:18] ibuziuk commented on #57
@kbsingh Am I correct that this issue is not a priority for summit. The image size is **475.7 MB** and I do not see how it can be reduced

[2017-04-10 13:29] kbsingh commented on #57
not a priority for now.

[2017-04-10 13:31] ibuziuk commented on #57
Closing as won't fix. Feel free to reopen if it will be needed

[2017-04-10 13:31] #57 closed

[2017-04-10 14:48] ibuziuk commented on #128
It might be fixed on che-server side with properties like:

[code]

NOTE: using the second property is easier since if the number was e.g. 2, then when starting a third we need to decide which of the two running workspaces need to be closed

[2017-04-10 15:07] l0rd commented on #128
@ibuziuk what about registering for OpenShift events and waiting for the event of the deletion of the pod?

[2017-04-10 15:50] ibuziuk commented on #128
@l0rd I haven't investigated it yet, but from the first glance introducing property is the easiest and most reliable way for fixing this issue. I will also take a look at the deletion event

[2017-04-10 15:56] ibuziuk commented on #56
@amisevsk @l0rd I guess the answer here would be NO, right ? (done via fabric8 template [1] env vars)

[1] https://github.com/fabric8io/fabric8-online/blob/master/apps/che/src/main/fabric8/deployment.yml

[2017-04-10 17:54] amisevsk commented on #56
@ibuziuk I think we're good. We're currently assigning limits in the file you linked; workspace limit is set by `CHE_OPENSHIFT_WORKSPACE_MEMORY_OVERRIDE`, and server limit is assigned directly.

[2017-04-10 18:19] ibuziuk commented on #56
@amisevsk ok, closing as won't fix in this case ;-)

[2017-04-11 12:17] ibuziuk commented on #130
Fixed in https://github.com/redhat-developer/che-starter/pull/137
Closing

[2017-04-11 13:06] #130 closed

[2017-04-11 15:21] ibuziuk commented on #101
Demo video of POC from @sunix - https://youtu.be/6GK9oLq1kjc
@aslakknutsen platform will also need to pass the full file name, as I understand

[2017-04-11 19:23] ibuziuk commented on #133
PR was merged - https://github.com/redhat-developer/che-starter/pull/136.  `ide start url` rel is used for `PATCH /workspace/{id} `
@aslakknutsen if you have better rel name in mind, just let us know and we will change it ;-)

[2017-04-11 19:23] #133 closed

[2017-04-12 09:02] sunix commented on #101
@ibuziuk can you describe what is trigerring the import (git clone) of the project in Che ?

[2017-04-12 09:07] mlabuda commented on #101
@sunix ProjectClient#L94. Basically we are calling WS master REST API endpoint to create a project from repo and branch with a type inferred from underlying stack.

[2017-04-12 11:25] ibuziuk commented on #134
PR is sent - https://github.com/redhat-developer/che-starter/pull/139
@aslakknutsen I think `PATCH /workspace/{name}` was initially planned no id

[2017-04-12 11:45] sunix commented on #101
problem: project is created after the IDE is loaded
Several ideas to solve it:
- actions pass to the URL which would add a event handler on projectCreated or imported and open the files at that point
- add action openfile to project DTO passed to the WS master REST API to create a project in a section 'onCreated' ...

[2017-04-12 14:17] amisevsk commented on #128
This is a tricky problem to solve on the server side, as it would require rewriting code in the not openshift-related codebase. We could do something where we use a property to trigger removal of other workspaces when one is started, but would need to find a way of doing the workspace stop throughout che-server, not just in openshift connector. If it's not awfully difficult, it might be better to

[2017-04-13 11:19] ibuziuk commented on #116
@mlabuda I guess this one can be closed now - https://github.com/redhat-developer/che-starter/pull/141

[2017-04-13 11:19] #116 closed

[2017-04-13 13:03] sunix commented on #101
@aslakknutsen  Could that be parameters of the Che starter start workspace endpoint ? https://github.com/redhat-developer/che-starter/pull/139
The end point would return the che IDE url with the openfile actions

[2017-04-13 13:06] mlabuda commented on #128
Now with my refactoring, it should be quite easy. I implemented 2 waitings - waitUntilWorkspaceIsRunning and waitUntilWorkspaceIsStopped. To fix this issue, those two methods should be enhanced/improved by kubernetes client calls to OpenShift to check resource state and wait for a specific resource to get to a state. You can see similar functionality done in CheDeploymentConfig class, where I did

[2017-04-18 09:08] sunix commented on #101
I've cherry picked [che#4802](https://github.com/eclipse/che/pull/4802) from upstream (openFile from IDE url) [477adf99](https://github.com/eclipse/che/commit/477adf995e320e811e5508d4867c5388e2379d97) to openshift branch. Looking on che-starter to modify `PATCH /workspace/{id} = start existing` to pass the file+line and return the right url to open

[2017-04-18 10:39] sbryzak commented on #128
Here's the pull request, this turned out to be quite simple with Marian's new methods:

https://github.com/sbryzak/che-starter/pull/1

[2017-04-18 10:49] mlabuda commented on #128
Hmm I see that you haven't added further kubernetes client calls to OpenShift. I think that the problem was, that in Che it looks like a workspace is stopped, but there is still running/terminating pod and thus a new one cannot start. I though we had to add further kubernetes client calls to OpenShift server in those 2 waiting at the end of methods - first we wait for Che workspace resources, then

[2017-04-18 10:56] ibuziuk commented on #128
@sbryzak agree with @mlabuda
As I recall it was decided to check worksapce state not only via che-server rest API, but also using k8s client, no ?

[2017-04-18 11:03] mlabuda commented on #128
The best way would be to fix it in OpenShiftConnector in upstream Che - there should be fixed this through k8 client. Question is, do we have time for that?

[2017-04-18 11:06] ibuziuk commented on #128
@mlabuda Angel commented that fixing it on che-server side is tricky (and risky IMO)

[2017-04-18 14:19] amisevsk commented on #128
I tried to fix the issue of Che thinking workspaces are stopped when one is still terminating -- the `removeContainer()` method should not return until the workspace is fully terminated. If you use the dashboard and click "stop", you can't restart the workspace until it is fully stopped (since it is still in the `STOPPING` phase) but if you refresh the dashboard page, it will often show that same

[2017-04-19 11:29] ibuziuk opened #145 "504 Gateway Time-out when trying to start che-server when it was idled"
It takes too long to start che-sever if it was idled:
[code]
`deployCheIfSuspended` [1] is a long-running task
[1] https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/openshift/CheDeploymentConfig.java#L41

[2017-04-19 11:30] ibuziuk commented on #145
cc: @aslakknutsen @mlabuda @sbryzak

[2017-04-19 12:16] mlabuda commented on #145
It took, in my case, 56 seconds to start an idled Che server and  then workspace creation proceeded.

[2017-04-19 15:36] ibuziuk commented on #145
PR has been sent - https://github.com/redhat-developer/che-starter/pull/146

[2017-04-19 17:12] ibuziuk commented on #51
@mlabuda I believe it is not fully implemented - need to add KeycloakInterceptor to every RestTemplate

[2017-04-20 08:08] mlabuda commented on #51
you are rights. We should check all requests to Che server/Che workspace endpoints to be intercepted by the keycloak.

[2017-04-20 14:28] vpavlin opened #150 "Create a status endpoint for health check"
Discussed this with @ibuziuk - interim option would be to use `/swagger-ui-html` but as it returns ~3.5KB, it might not be optimal for health checks which are called every couple seconds.

We need an endpoint which will return status 200 if everything is ok and the app is fully started and working and 404 (or other error code) if it is not - this is used also for `readinessProbe` which influences

[2017-04-20 15:07] ibuziuk commented on #145
Should be fixed with https://github.com/redhat-developer/che-starter/pull/146

[2017-04-20 16:45] ibuziuk commented on #150
PR is sent https://github.com/redhat-developer/che-starter/pull/151
The implementation could probably be improved though

[2017-04-20 18:59] ibuziuk commented on #150
Closing. @mlabuda @sbryzak guys if you have better ideas for health check please speak up

[2017-04-20 18:59] #150 closed

[2017-04-21 05:41] mlabuda commented on #150
https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-monitoring.html#production-ready-health-access-restrictions ?

[2017-04-21 13:23] ibuziuk commented on #56
@mlabuda do you think this issue might be coupled with https://github.com/redhat-developer/che-starter/issues/128 and we do need to set memory limits on che-starter side ?

[2017-04-21 13:38] ibuziuk commented on #145
@vpavlin @kbsingh the issue is still reproducible on prod-preview even thought I can not repro it locally when running che-starter via docker ? Is it possible to set connection timeout in template somehow ?

[2017-04-21 14:17] #115 closed

[2017-04-21 14:18] ibuziuk commented on #74
@sunix endpoint does not seem to set commiter info anymore

[2017-04-21 14:26] ibuziuk commented on #51
should be fixed now. Closing

[2017-04-21 14:26] #51 closed

[2017-04-21 15:10] ibuziuk commented on #74
@sunix it looks like a problem in che-starter:
`{"git.committer.name":"","commiterName":"Ilya Buziuk","commiterEmail":"ilyabuziuk@gmail.com"......}`

Che starter sets it as `commiterName `not` git.committer.name` for some reason :/

[2017-04-21 16:05] ibuziuk commented on #74
https://github.com/redhat-developer/che-starter/pull/156/

[2017-04-22 22:54] ibuziuk commented on #74
fixed

[2017-04-22 22:54] #74 closed

[2017-04-23 12:03] ibuziuk commented on #145
The issue is also reproducible locally when che-starter is deployed on minishift (still not reproducible if running che-starter image as docker container)

[2017-04-24 08:54] mlabuda commented on #56
Well, question is how is the Che server deployed. Whether a che.openshift.workspace.memory.override property is set properly and server uses it. Otherwise it uses data passed in a request. And in that case it would create oversized containers.

If we change it on Che starter side, we are safe no matter what the Che server uses (if it does not use wrong values set through property :) ).

[2017-04-24 09:02] ibuziuk commented on #56
@mlabuda ok, so to be on a safe side we should also set it while workspace creation - https://github.com/fabric8io/fabric8-online/blob/master/apps/che/src/main/fabric8/cm.yml#L13

[2017-04-24 09:35] mlabuda commented on #56
Yeah, when getting a workspace config (from GET /stack and filtering), we should update the memory constraint from default 2 GB to 1300 MB. And pass such updated config to Che server.

[2017-04-24 11:22] mlabuda commented on #145
I think this will be related to routing on OpenShift. Router/routes have a timeout set for request and it looks like we are hitting those timeouts - that could be a reason why increasing timeout for server on spring boot app side did not help.

[2017-04-24 20:43] ibuziuk opened #161 "Need to support obtaining OSO token from ENV var instead of using Keycloak server"
From the discussion on mattermost:

if the ENV var is set e.g. OSO_ADMIN_TOKEN this token should be used for all operations on the cluster

[2017-04-24 21:03] ibuziuk commented on #161
PR is sent https://github.com/redhat-developer/che-starter/pull/162

[2017-04-24 23:03] ibuziuk commented on #161
Merged in master

[2017-04-24 23:03] #161 closed

[2017-04-25 09:34] ibuziuk opened #163 "Need to provide endpoints for starting idled che-server and getting it's state"
For now scaling up che-server pod is a sync, long-running task which results in 504 error - https://github.com/redhat-developer/che-starter/issues/145

Need to provide endpoints for starting idled che-server and getting it's state

`PATCH /server` - start idled che-server
`GET /server` - return state of the che-server pod

[2017-04-25 09:37] ibuziuk commented on #163
@aslakknutsen I do not add "important' label to this issue and target it after summit. Please, if you think that this should be implemented by summit time let me know ASAP

[2017-04-25 12:06] ibuziuk commented on #128
Might be coupled - https://issues.jboss.org/browse/CHE-220

[2017-04-26 11:08] ibuziuk commented on #145
The problem is that on prod there is no router for che-starter at all and Platform talk with it using internal service IP address which is accessible only inside the cluster
Should be potentially fixed with https://github.com/redhat-developer/che-starter/issues/163

[2017-04-26 14:19] ibuziuk commented on #101
postponed till summit

[2017-04-26 16:01] ibuziuk opened #164 "POST / PATCH workspace endpoints should contain workspace name reference"

[2017-04-26 16:08] hectorj2f commented on #164
+1

[2017-04-26 16:10] ibuziuk commented on #164
@aslak @hectorj2f we could return the whole workspace object but in this case you will need to find correct WorkspaceLink for redirect on Platform side. Does it work for you ?

[2017-04-26 16:15] hectorj2f commented on #164
Umm, I see a problem that is how to distinguish the link among all the others.

[2017-04-26 16:18] ibuziuk commented on #164
by 'rel' preoperty with should be equals to "ide url"

[2017-04-26 16:28] ibuziuk commented on #164
@aslakknutsen @hectorj2f PR is sent - https://github.com/redhat-developer/che-starter/issues/164

[2017-04-26 16:35] ibuziuk commented on #164
Workspace object is the following:
[code]
`config.name` -> workspace name
`links.stream().filter(link -> "ide url".equals(link.getRel())).findFirst().get();` - WorkspaceLink that contains href for redirect

[2017-04-26 19:08] ibuziuk commented on #164
Pushed to master - closing

[2017-04-26 19:08] #164 closed

[2017-04-28 15:41] ibuziuk opened #168 "GitHub token must be set during workspace start"
If che-server is idled GitHub token will be lost. Need to obtain and set it during workspace startup

[2017-05-01 20:54] ibuziuk opened #170 "Need to make stack API async"
From conversation on mattermost:

[2017-05-01 20:58] ibuziuk commented on #170
@aslakknutsen I have decided to start with rewriting stacks API. In the context of this issue:

Location pointing to a status API = API for getting che-server status ?

[2017-05-02 09:23] ibuziuk opened #171 "Add structured json logging to the CheStarter console log"
Need to also include **req_id** which you get from **X-Request-Id HTTP** header in all log statements.
That way we can corrolate request from UI to Platform to Che Starter in the logs

[2017-05-02 15:14] ibuziuk commented on #171
PR is sent https://github.com/redhat-developer/che-starter/pull/172

[2017-05-04 09:39] ibuziuk commented on #168
Pushed to master

[2017-05-04 09:39] #168 closed

[2017-05-04 13:18] ibuziuk commented on #171
@aslakknutsen merged to master. If there is no **X-Request-Id** header **req_id** would be generated (useful for che-starter) -  https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/listener/RequestListener.java#L34

[2017-05-04 13:18] #171 closed

[2017-05-05 11:37] ibuziuk opened #173 "Need to push che-starter image to dockerhub after every master build"
See:
https://github.com/almighty/almighty-jobs/pull/168
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/89

[2017-05-05 12:51] ibuziuk commented on #173
PR is merged https://github.com/redhat-developer/che-starter/pull/174
Closing after almighty/almighty-jobs#168 is applied

[2017-05-11 06:43] mlabuda opened #177 "Clean up loggin"
Now we have some new structure of logging and it is not easily readable and it does not provide much more useful information. See following example

`2017-05-10 22:18:38.534  INFO 1 --- [cTaskExecutor-2] i.f.che.starter.client.WorkspaceClient   : Polling workspace 'i1elutdi' status...
{"time":"2017-05-10T22:18:38.534+00:00","msg":"Polling workspace 'i1elutdi' status...","logger":"io.fabric8.che.st

[2017-05-11 06:43] mlabuda commented on #177
@ibuziuk why the logging has changed?

[2017-05-15 08:22] ibuziuk commented on #177
@mlabuda https://github.com/redhat-developer/che-starter/issues/171 which was requested by platform

[2017-05-15 14:22] ibuziuk opened #178 "Need to enable workspace createWorkspaceTest / createWorkspaceOSOTest"
Disabled due to https://github.com/redhat-developer/che-starter/issues/164

[2017-05-15 16:56] #178 closed

[2017-05-15 16:57] #173 closed

[2017-05-15 16:57] #128 closed

[2017-05-15 16:58] #56 closed

[2017-05-23 12:02] #177 closed

[2017-05-23 12:03] ibuziuk commented on #101
Putting on hold due to che-starter deprecation https://issues.jboss.org/browse/CHE-254

[2017-05-23 12:37] ibuziuk commented on #134
Pushed to master

[2017-05-23 12:37] #134 closed

[2017-05-24 11:55] ibuziuk commented on #170
closed in favor of https://github.com/redhat-developer/che-starter/issues/170

[2017-05-24 11:55] #170 closed

[2017-05-30 15:26] ibuziuk commented on #163
First PR for GET '/server' - https://github.com/redhat-developer/che-starter/pull/184

[2017-06-01 15:34] ibuziuk opened #185 "tsrv cluster has been deprovisioned - need to rewrite integration tests and reconfigure free-int tenant"

[2017-06-02 14:34] ibuziuk commented on #185
PR is merged - https://github.com/redhat-developer/che-starter/issues/185
integration tests have been moved to free-int cluster

[2017-06-02 14:34] #185 closed

[2017-06-04 10:44] ibuziuk commented on #163
PR for `PATCH /server` is merged - https://github.com/redhat-developer/che-starter/pull/187

[2017-06-04 10:44] #163 closed

[2017-06-23 09:33] mlabuda opened #191 "Cannot use */oso endpoints"
At the moment, e.g. when I want to create a workspace via POST /workspace/oso endpoint, it internally calls keycloak endpoint. This causes */oso endpoint(s) unusable, because it fails.

[2017-06-27 11:26] ibuziuk opened #192 "Need to support che-starter on fabric8-platform (openshift.io deployment on minishift)"
fabric8-platform [1] allows to deploy openshift.io locally on minishift. Assuming that all services are going to run on the same cluster che-starter should create default kubernetes client without certificate / master URL / token info.

[1] https://github.com/fabric8io/fabric8-platform/
[2] https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/openshift/O

[2017-07-13 21:28] aslakknutsen opened #196 "Add token.payload['sub'] as identity_id when logging where relevant"
That allows us to track actions of a user across the system.

The identity_id can be extracted from the Token provided from KC. payload.sub

[2017-07-14 09:10] ibuziuk commented on #196
PR is sent - https://github.com/redhat-developer/che-starter/pull/197

[2017-07-14 10:30] ibuziuk commented on #196
Merged to master
PR for updating prod - https://github.com/openshiftio/saas/pull/288

[2017-07-14 10:30] #196 closed

[2017-07-20 18:47] ibuziuk commented on #191
@mlabuda are you sure that */oso endpoints are unusable ? I tested those today against minishift and all worked just fine (keycloak token = null)

[2017-07-20 18:48] ibuziuk commented on #192
fix is pushed to master

[2017-07-20 18:48] #192 closed

[2017-07-21 05:59] mlabuda commented on #191
Well, this issue is not valid (anymore? or at all?). I just saw in code, that even though we call workspace/oso endpoint it internally uses GET /stack endpoint with passing keycloak token. But because oso endpoints NOW would work only on Che without Keycloak support, it does not make sense anymore.

Closing as rejected.

[2017-07-21 05:59] #191 closed

[2017-07-25 12:47] ibuziuk opened #202 "GitHub "primary" email should be used in committer info if there is no public email available"

[2017-07-25 13:56] ibuziuk commented on #202
PR has been sent - https://github.com/redhat-developer/che-starter/pull/203

[2017-07-25 15:08] hectorj2f opened #204 "CheStarter returns a 400 error code to fabric8-wit when the error is a 401 http error"
CheStarter is returning a 400 Bad Request error code but the underlying exception is 401 Unauthorized due to OSO token expired.

You can search in dsaas-preview logs for status:500 or for instance req_id: 8136f380-7196-4d21-b050-a0dd948c4800 in Kibana

related to: https://github.com/fabric8-services/fabric8-wit/issues/1538

[2017-07-25 15:39] ibuziuk commented on #204
@hectorj2f yeah, this is because of the fact that Bad Request response is used when `HttpClientErrorException` occurs. Need to provide better handling

[1] https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/exception/GlobalExceptionHandler.java#L54

[2017-07-26 07:31] ibuziuk commented on #202
Pushed to master

[2017-07-26 07:31] #202 closed

[2017-07-26 15:45] ibuziuk opened #205 "Need to use `login` as committer name if `name` is blank"
When using `https://api.github.com/user` endpoint `name` property can be blank. In this case `login` should be used as a committer name

[2017-07-26 16:50] ibuziuk commented on #205
PR is sent - https://github.com/redhat-developer/che-starter/pull/206

[2017-07-26 16:58] ibuziuk commented on #205
pushed to master

[2017-07-26 16:58] #205 closed

[2017-08-03 13:11] ibuziuk commented on #145
Should be fixed once the following UI & wit issues are resolved:
- https://github.com/fabric8-services/fabric8-wit/issues/1506
- https://github.com/fabric8-ui/fabric8-ui/issues/1825

[2017-08-07 23:03] aslakknutsen opened #211 "Turn of non json logging in production"
The duplicate logging done by che starter in production is causing noise. There is really no need to log in both json and plain text.

[2017-08-11 08:46] eivantsov opened #214 "Skip importing a project but save it to ws-config"
This task is related to https://github.com/redhat-developer/rh-che/issues/230

The current mechanism of importing a project is not very reliable - the IDE is being initialized and a project is being imported and there are race conditions. Sometimes, a project is marked as invalid/misconfigured because a project physically exists in a workspace (in `/projects`) but does not exist in workspace confi

[2017-08-14 10:47] hectorj2f commented on #204
@ibuziuk what is the state of this issue ?

[2017-08-14 21:38] ibuziuk commented on #204
@hectorj2f haven't started working on it and did not add to the current sprint. Is it critical ?

[2017-08-15 11:09] hectorj2f commented on #204
@ibuziuk I just want it to be sure it wasn't solved 👍

[2017-08-15 16:56] ibuziuk commented on #204
@hectorj2f nope, it was not - I will try to find some time to address it though ;-)

[2017-08-18 12:38] ibuziuk commented on #214
Closing . Fix has been promoted to prod - https://github.com/openshiftio/saas-openshiftio/pull/173

[2017-08-18 12:38] #214 closed

[2017-09-04 18:11] ibuziuk commented on #211
Should be fixed once https://github.com/redhat-developer/che-starter/pull/221 is applied

[2017-09-05 09:01] ibuziuk commented on #211
pushed on prod

[2017-09-05 09:01] #211 closed

[2017-10-05 19:07] ibuziuk opened #225 "Allow workspace name length up to 100 chars (currently max length is 20 chars)"
Once `Allow workspace name length up to 100 chars` PR[1] is merged and will be available on osio need to improve workspace name generation on che-starter side[2]

[1] https://github.com/eclipse/che/pull/6599
[2] https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/util/WorkspaceHelper.java#L94

[2017-10-12 07:28] ibuziuk opened #226 "Migration to multi tenant che-server"
By the end of the month it is planned to migrate from single tenant to multi tenant che-server that will be deployed on the OSD cluster. There are a few thing that should be done on che-starter side due to this migration:
- remove unidling which is not relevant for mt che-server
- che-host url would be set in cm [1], so there will be no need to obtain oso tokens on che-starter side.

In general ch

[2017-10-12 07:29] ibuziuk commented on #226
cc: @l0rd @davidfestal

[2017-10-16 14:04] ibuziuk opened #227 "Need to remove / move 'pod.watch' logic from "waitUntilWorkspaceIsStopped""
With multitenant che-sever all OpenShift API should be removed. Currently OpenShift API is used only in two places:
- getting che-server route (would be fixed via env var / cm value for multi tenant che-server
- waiting util workspace is stoped

[2017-10-16 14:24] ibuziuk commented on #227
According to the che-starter logs currently pod watch is used and doing it's job properly:

So, it is not possible to just remove this part from che-starter. PR for adding this functionality to che-server has been provided, but for some reason scale down deployment does not seem to work on the latest minishift version (works just fine on prod cluster) - https://github.com/eclipse/che/pull/6735

[2017-10-17 15:26] ibuziuk opened #229 "Need to migrate to a new github token url"
Upstream issue https://github.com/fabric8-services/fabric8-auth/issues/149

[2017-10-18 09:34] ibuziuk commented on #227
Closing PR with updating prod is merged  - https://github.com/openshiftio/saas-openshiftio/pull/351

[2017-10-18 09:34] #227 closed

[2017-10-18 10:33] ibuziuk opened #230 "Need to support multi-tenant & single tenant che-servers simultaneously"
In order to support canary roll out of multi-tenant che-server there is a need to support both multi-tenant & single-tenant che-servers in che-starter. The idea is having an env var (configurable in cm ) with a list of namespaces that would work against mt che-server and the rest will still be working against single tenant one.

[2017-10-18 11:24] ibuziuk commented on #229
Need to update integration tests due to new response body - https://github.com/redhat-developer/che-vertx-server

[2017-10-19 07:34] ibuziuk commented on #229
Closing PR with update has been promoted to prod https://github.com/openshiftio/saas-openshiftio/pull/357

[2017-10-19 07:34] #229 closed

[2017-10-19 09:01] ibuziuk commented on #145
This one should be fixed now (UI is asking che server state and starts it asynchronously)

[2017-10-19 09:01] #145 closed

[2017-10-19 09:03] ibuziuk commented on #85
Fixed `PATCH /server` endpoint is used for starting che-server asynchronously - http://che-starter-dsaas-preview.b6ff.rh-idev.openshiftapps.com/swagger-ui.html#!/che-server-controller/startCheServerUsingPATCH

[2017-10-19 09:03] #85 closed

[2017-10-19 09:05] ibuziuk commented on #43
Not relevant anymore. Basically, with multi-tenant che-server there will be no usage of OpenShift API on che-starter side

[2017-10-19 09:05] #43 closed

[2017-10-23 12:24] ibuziuk commented on #230
New property with adding mt namespaces is already in place [1]

[1] https://github.com/redhat-developer/che-starter/commit/be2fa622d3e84ae84565e0626bcda18446901b74#diff-a59babfd16393ed10828d966ae0ad87cR15

[2017-10-23 12:24] #230 closed

[2017-11-08 07:01] ibuziuk opened #240 "Need to pass identity_id and request_id with every request to che server"
rh-che issue - https://github.com/redhat-developer/rh-che/issues/312

[2017-11-08 07:47] ibuziuk commented on #240
@sunix actually I have just figured out that identity id is not passed in the header, but rather should be obtained from the keycloak token. So, it looks like only `X-Request-Id` should be passed.
Identity id could be obtained the following way on che server side [1]

[1] https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/client/keycloak/KeycloakTokenP

[2017-11-16 13:06] ibuziuk commented on #226
All preparations for multi-tenancy support are done - closing

[2017-11-16 13:06] #226 closed

[2017-11-17 13:00] ibuziuk opened #246 "Che starter needs to update tenant if user provisioned with multi-tenant che-server, but still has single-tenant che deployment in namespace"

[2017-11-23 17:29] ibuziuk commented on #246
PR is sent - https://github.com/redhat-developer/che-starter/pull/245

[2017-11-29 20:09] ibuziuk opened #248 "Need to add 'update tenant endpoint' to the openshift template"
PR with template / cm update - https://github.com/redhat-developer/che-starter/pull/249
Gitlab issue - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/866

[2017-11-30 15:21] ibuziuk commented on #248
gitlab issue is fixed / PR with template update is merged. Closing

[2017-11-30 15:21] #248 closed

[2017-12-04 13:37] ibuziuk opened #251 "Git preferences are not set to workspaces after migration from single-tenant to multi-tenant Che server"

[2017-12-04 16:08] ibuziuk commented on #251
https://github.com/redhat-developer/che-starter/pull/252
PR is merged - closing

[2017-12-04 16:08] #251 closed

[2017-12-05 11:01] ibuziuk commented on #246
PRs are merged - closing

[2017-12-05 11:01] #246 closed

[2017-12-05 11:02] ibuziuk commented on #240
PR is merged - closing

[2017-12-05 11:02] #240 closed

[2017-12-06 09:31] ibuziuk opened #253 "Need to implement locking mechanism in order to avoid calling `update_tenant` multiple times"
Currently, migration to multi-tenant che-server is started when user is provisioned for it, but still has single-tenant Che deployment in `*-che` namespace. After `update_tenant` call there is a 10 sec [1] wait to make sure that `migration` config map is created. This approach is not robust - need to have some locking mechanism in place (preferably stateless), so that `update_tenant` will not be c

[2017-12-18 11:03] ibuziuk opened #254 "Che multi-cluster support"
Upstream issue: https://github.com/openshiftio/openshift.io/issues/1683

- [x] Change OSO api URL to OSO-Proxy URL and use OSIO user token instead of OSO token
- [x] Remove OSO token lookup.
- [x] Add possibility to retrieve multi-tenant che-server url (AFAIK there will be one mt che-serve per cluster)

[2017-12-18 11:08] ibuziuk commented on #254
@alexeykazakov @aslakknutsen can I already use proxy on prod-preview ? also, wondering how retrieving of multi-tenant che-server url for multi-cluster will be processed ?

[2017-12-20 11:41] ibuziuk opened #255 "Need to remove toggle related / workspace migration code from che-starter"
Migration to multi-tenant che-server has finished, so all toggle / workspace migration related code from che-starter

[2018-01-17 12:13] ibuziuk commented on #254
PR is sent https://github.com/redhat-developer/che-starter/pull/256

[2018-01-17 12:14] ibuziuk commented on #253
Closing as out-of-date

[2018-01-17 12:14] #253 closed

[2018-01-17 12:14] ibuziuk commented on #255
PR is sent https://github.com/redhat-developer/che-starter/pull/256

[2018-01-18 15:05] ibuziuk opened #257 "Adapt che-starter to work with Che 6 API"
rh-che issue - https://github.com/redhat-developer/rh-che/issues/515

[2018-01-24 11:51] ibuziuk commented on #255
fix is promoted to prod. closing

[2018-01-24 11:51] #255 closed

[2018-01-25 11:29] ibuziuk commented on #257
@ScrewTSW is working on this one in the current sprint

[2018-01-25 11:30] ibuziuk commented on #254
Closing - fix is promoted to prod-preview / prod

[2018-01-25 11:30] #254 closed

[2018-02-19 15:31] ScrewTSW opened #261 "Fix WorkspaceConfig model - environments are not getting mapped correctly"
* Expected:
[code]

* Actual:
[code]

Model is expecting an environment with name `defaultEnv`, when an actual environment with name `default` is received by the server, it does not get mapped and the environments contains `null`

[2018-02-19 16:47] #261 closed

[2018-02-20 18:13] ibuziuk commented on #257
A part from workspace model tests for setting preferences & github token are currently failing against `che6`:

`  WorkspacePreferencesClientTest.setCommitterInfo:55 » HttpClientError 405 null
  GitHubTokenClientTest.setGitHubToken:41 » GitHubOAthToken Error setting GitHub...
`

[2018-02-23 09:47] ibuziuk commented on #257
GitHubToken / preferences tests where failing due to removal of support `wsmaster` from endpoint
https://github.com/eclipse/che/issues/6481

[2018-02-23 10:49] ibuziuk commented on #257
PR for fixing preferences / github token in che6 - https://github.com/redhat-developer/che-starter/pull/267

[2018-02-28 08:53] ibuziuk opened #269 "WorkspaceLegacyFormatAdapterTest is not stable"
Failed tests:
  WorkspaceLegacyFormatAdapterTest.getWorkspaceLegacyFormat:232 null

More details in https://ci.centos.org/job/devtools-che-starter-prcheck/53/console

[2018-02-28 14:14] ScrewTSW commented on #269
@ibuziuk can this issue be closed? did the fix provide stability?

[2018-02-28 16:12] ibuziuk commented on #269
@ScrewTSW yeah, let's close it

[2018-02-28 16:12] #269 closed

[2018-02-28 16:14] ibuziuk opened #272 "Need to rewrite obtaining of worksapce status via `GET /workspace/<wsID>` endpoint"
`/api/workspace/{id}/check` has been deprecated in che6 which results in test failure:

[code]

More details in https://github.com/redhat-developer/che-starter/pull/266

Need to rewrite obtaining status logic via `GET /workspace/<wsID>` endpoint which would provide up-to-date status

[2018-02-28 16:30] ibuziuk commented on #272
looks like `GET /workspace/{id}/check` was deprecated in che6 and tests are failing with 404

[2018-02-28 17:33] ibuziuk commented on #272
PR is sent https://github.com/redhat-developer/che-starter/pull/273

[2018-02-28 18:26] ibuziuk commented on #272
@tibor are you sure that adapter v6 -> v5 works correctly ?

[code]
There are test errors (NoSuchElement exception) for the following construction in WorkspaceClient test:

`workspaceClient.listWorkspaces(osioUserToken).stream().filter(w -> w.getId().equals(id)).findFirst().get();`

and this should never happen

[2018-03-06 12:00] ibuziuk commented on #272
tests are running against che6 now and passing. Closing

[2018-03-06 12:00] #272 closed

[2018-04-19 09:17] rhopp opened #290 "Remove unused mandatory parameters masterUrl and namespace"
Since we are multi-tenant for quite some time, these two parameters don't make sense anymore AFAIK, but they are still mandatory for requests.
WDYT @ibuziuk ?
Is removing these parameters safe? Or is there some work needed also on codebases-ui side? (wit side?)

[2018-04-26 14:18] ibuziuk commented on #290
I would not remove it but rather make it optional. Those might be useful if for some reason che-starter would need to use OpenShift API via kubernetes client

[2018-04-26 14:53] ibuziuk opened #298 "`workspace/delete` endpoint does not work"
blocks https://github.com/fabric8-services/fabric8-wit/issues/1749

[2018-04-26 15:21] #298 closed, assigned to ibuziuk

[2018-08-01 15:45] ibuziuk opened #310 "java.net.UnknownHostException happens from time to time when che-starter calls Che server route"
Example from prod kibana:

**req_id:"OU7TPqHDyV-46158"**

[code]

[2018-10-10 08:29] rhopp opened #312 "Is stopping other workspaces when creating new one really needed?"
Right now, when `POST` to `/workspace` is called, not only new workspace is created, but also all other running workspaces are stopped.
Is this behavior needed?
To my understanding this is not needed because in the OSIO flow, opening workspace already stops other workspaces (calls `PATCH` to `/workspace/{name}`).

I understand, that mostly, this is what users usually do - Create workspace and open

[2018-10-13 19:38] ibuziuk commented on #312
stopping all workspaces during creation used to be necessary, but since codebase ui has been changed and create & start call are stopping all workspaces during create execution is not needed anymore

[2018-10-16 07:57] ibuziuk opened #315 "Need to support optional `spaceId` parameter during workspace creation"
`spaceId` parameter during workspace creation is going to be used by woopra to identify workspaces created via openshift.io codebases flow and for OSD support

[1] https://github.com/redhat-developer/che-starter/pull/311
[2] https://github.com/redhat-developer/che-starter/pull/314

[2018-10-22 10:33] #312 closed

[2018-10-22 10:34] ibuziuk commented on #312
PR is merged - https://github.com/redhat-developer/che-starter/pull/313

[2018-11-18 14:33] ibuziuk opened #316 "Support creating workspace based on 'che7' stack"
Currently che-starter only supports Che 6 workspace creation flow. Need to define API for supporting new Che 7 workspace creation flow

Eventually, we want to replace `java-centos` to `che7`.

https://gist.github.com/l0rd/2ff9391d9cabbc861d9e7e9102efcaf3

`TODO`: provide link to Che 7 docs once available on https://www.eclipse.org/che/docs/

[2018-11-27 10:48] ibuziuk commented on #34
Che starter does not use kubernetes / openshift API anymore and play the role of API adapter. Closing since this issue is deprecated.

[2018-11-27 10:48] #34 closed

[2018-11-29 17:57] #290 closed

[2018-12-11 17:30] ibuziuk commented on #225
Closing. Fixed as part of the https://github.com/openshiftio/openshift.io/issues/4625

[2018-12-11 17:30] #225 closed

[2019-01-15 13:23] ibuziuk commented on #316
Closing since PR is merged - https://github.com/redhat-developer/che-starter/pull/323
NOTE: there is still a problem with `ide url` (used for opening workspace) that is planned to be fixed in the next sprint by IDE team:
- https://github.com/eclipse/che/issues/12376
- https://github.com/eclipse/che/issues/12379

[2019-01-15 13:23] #316 closed

[2019-02-24 16:53] ibuziuk commented on #315
Closing as outdated - https://github.com/redhat-developer/rh-che/issues/834#issuecomment-466792090

[2019-02-24 16:53] #315 closed